.sweet-modal .sweet-box-actions .sweet-action-close{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.sweet-modal.is-alert .sweet-content{
    padding: 20px !important;
    text-align: justify !important;
}

.transition{
    transition: 0.5s;
}